<div class="backdrop" (click)="onClose()"></div>
<div class="product-center">
  <img src="" alt="" />
  <section class="content">
    <h2>{{ food.name }}</h2>
    <h4 class="price">
      <span>Price: </span>
      {{ food.price }}
    </h4>
    <p>description</p>
    <p class="Amount">
      <span>Quanity: </span>
      <fa-icon [icon]="faMinus" (click)="onToggle('desc')"></fa-icon>
      {{ amount }}
      <fa-icon [icon]="faPlus" (click)="onToggle('inc')"></fa-icon>
    </p>
    <button (click)="onAddToCart()">Add To cart</button>
  </section>
</div>
