<article>
  <img src="{{ cart.image }}" alt="{{ cart.name }}" />
  <div class="content">
    <h4>{{ cart.name }}</h4>
    <div class="add-to-cart">
      <p class="amount">
        <span>Quantity: </span>
        <span class="amount-section">
          <fa-icon [icon]="faMinus" (click)="onMinus()"></fa-icon>
          {{ cart.amount }}
          <fa-icon [icon]="faPlus" (click)="onPlus()"></fa-icon>
        </span>
      </p>
      <div class="price">
        <span>
          <h4>Price: {{ cart.price | currency: "USD":"symbol" }}</h4>
        </span>
        <fa-icon
          [icon]="faTrash"
          (click)="onRemove()"
          class="delete-btn"
        ></fa-icon>
      </div>
    </div>
  </div>
</article>
